@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}

:root{
--color--primary: #94395b;
--color-primary-variant: rgba(148, 57, 91, 0.5);
--color-primary-variantCard: rgba(148, 57, 91, 0.8);
--color-cinza-primary: rgba(130, 130, 130, 0.5);
--color-cinza-primaryHard: rgb(50, 50, 50, 0.8);
--color-cinza-primaryHardTwo: rgb(50, 50, 50, 0.4);
--color-cinza-secondary: rgba(130, 130, 130, 0.1);
--color-primary-background: rgba(255, 140, 140, 0.1);
--color-cinza-secondaryBack: rgba(229, 229, 229, 0.2);

--container-width-lg: 75%;
--container-width-md: 86%;
--container-with-sm:90%;
}

body{
    font-family: Poppins;
    font-weight: 500;  
       
  }
  
ul {
list-style-type: none;

}

.corPrincipal{
    color: var(--color--primary);
}


.corPrincipal:hover{
    border: 1px solid var(--color-primary);
    color: var(--color-primary-variant);
}

.cinzaMain{
    color: var(--color-cinza-primary);

}

.cinzaHard{
    color: var(--color-cinza-primaryHard);

}
.cinzaHardTwo{
    color: var(--color-cinza-primaryHardTwo);

}


.search{
    
    position: relative;
    width:340px;
    height:60px;
    background: white;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px var(--color-primary-variant);
    overflow: hidden;

}

.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height:60px;
    background: var(--color--primary);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before{
    content: '';
    position:absolute;
    width:15px;
    height:15px;
    border: 3px solid white;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}


.search .icon::after{
    content: '';
    position:absolute;
    width:3px;
    height:12px;
    background: white;
    border-radius: 50%;
    transform: translate(6px,6px) rotate(315deg);
}

.search .input{
    position: relative;
    width: 340px;
    height: 60px;
    left: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{  
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline:none;
    font-size: 18px;
}


.card-img-New{
    border-radius: 10%;
    height: 200px;
    width: 250px;
}

.categories{
    align-items: center;
}


.marginsCards{
    margin-left: auto;
    margin-right: auto;
}

.categorie {
    transform: translate(20px,-54px);
    font-size: 2rem;
    color:white;
    border: 1px;
    text-shadow: 0 0 5px var(--color--primary), 0 0 8px var(--color-primary-variant);
}

.inlineTrue{
    display: inline-block;
    position: relative;
}

.imageCardSize{
    height:180px;
}

.tryOut{
    width: 100%;
    background-color: var(--color-cinza-secondaryBack);
    border-radius: 15px;
    padding-bottom: 45px;
    padding-top: 10px;
}

.footerBackground{
background-color: var(--color--primary);
}

.cardBackground{
    background-color: var(--color-primary-variantCard);
    color:white;
}

.titleFeature {
    padding-left: 20px;
    font-size: 2rem;
    color:white;
    border: 1px;
    text-shadow: 0 0 5px var(--color--primary), 0 0 8px var(--color-primary-variant);
}

.titleFeatureCategoria {
    padding-left: 20px;
    font-size: 2rem;
    color: var(--color--primary);
    border: 1px;
    text-shadow: 0 0 5px var(--color--primary), 0 0 8px var(--color-primary-variant);
    padding-bottom: 12px;
}

.entregar{
    transform: translate(80px,-74px);
    width:240px;   
}

.noPadding{
    margin: 0;
    padding: 0 0 0 0;
}

 .categorie:hover {
    opacity: 0.5;
  }

  .card-img-New:hover{
    opacity: 0.6;
  }

  .card:hover{
    opacity: 0.6;
  }

  .btn:hover{
    color: var(--color--primary);
  }

  .btnAdd{
    height: 40px;
    width:120px;
    background-color: var(--color--primary);
    border-radius: 5px;
    color:white;
    
  }

  .btnAdd:hover{
    height: 40px;
    width:120px;
    background-color: var(--color-primary-variant);
    border-radius: 5px;
    color: var(--color--primary);
  }

  .row-image{
	width: 100px;
    height: 100px;
    border-radius: 15px;
}
.row-image-checkout{
	width: 50px;
    height: 50px;
    border-radius: 15px;
}

  a{
    text-decoration: none;
  }

  .nav-pills .nav-item .active {
    border-bottom: 2px solid var(--color--primary);
}


.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}
.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
    padding-left: 25px;

}



  /* medium devices Tablets */
@media screen and (max-width: 1024px){

.container{
    padding-left: 10%;
    margin-right: auto;
    }
.card{
margin-bottom: 20px;
}
.titleFeature{
    padding-left: 0;
}
.titleFeatureCategoria{
padding-left: 0;
}
.row-image{
	width: 75px;
    height: 75px;
    border-radius: 5px;
}
.dontShow{
    display: none;
}



}
  /* small devices mobile phones */
@media screen and (max-width: 600px){

.container{
    padding-left: 20%;
    margin-right: auto;
}
.card{
    margin-bottom: 20px;
}
.titleFeature{
    padding-left: 0;
}
.titleFeatureCategoria{
    padding-left: 0;
}
.row-image{
	width: 75px;
    height: 75px;
    border-radius: 5px;
}

.dontShow{
    display: none;
}

}
  


.hidden{
    display:none;
}


#alertBox {
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;
}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color:#3073BB;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
}

#alertBox p {
    font:0.7em verdana,arial;
    height:50px;
    padding-left:5px;
    margin-left:55px;
}

#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
    font:0.7em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#357EBD;
    border-radius: 3px;
    text-decoration:none;
}