
{% include 'header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/alertPrompt.css' %}">
 <!-- RESTAURANTS CATEGORIES -->
<div class="container my-4 tryOut" style="align-items: center;">
 
  <h2 class="titleFeatureCategoria text-center" style="padding-top: 20px;">Acompanhar Entrega</h2>
    <br>
    <br>
  <div class="row">
    <div class="col-lg-6">
        <div class="content-box" id="form-wrapper">
            
                <div>
                    <h4 style="padding-top: 12px; color:#94395b;" >Pedidos por Entregar</h4>
                    <hr>
             {% if pedido %}
                {% if pedido.pedido_entregue%}
                <div class="row">
                    <div class="col-lg-4">
                        <div style="padding-top: 20px;">
                            <h5 style="color:#94395b;">Entregador:</h5>
                            <img style="height:100px;  padding-top: 20px;" src="{%  static pedido.entregador.profile_imagem.url %}" alt="" srcset="">
                            <h5 style="padding-top: 20px;">{{ pedido.entregador }}</h5>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div style="padding-top: 20px;">
                            <h5 style="color:#94395b;">Estado do pedido:</h5>
                            <h5 style="padding-top: 20px;">O seu pedido encontra-se entregue espero que se encontre tudo do seu agrado a sua satisfação é a nossa.</h5>
                            <h6>Obrigado pela confiança {{profile.nome}}, esperamos voltar a vê-lo brevemente.</h6>
                        </div>
                    </div>
                </div>
                {% elif pedido.entregador != Null %}
                <div class="row">
                    <div class="col-lg-4">
                        <div style="padding-top: 20px;">
                            <h5 style="color:#94395b;">Entregador:</h5>
                            <img style="height:100px;  padding-top: 20px;" src="{%  static pedido.entregador.profile_imagem.url %}" alt="" srcset="">
                            <h5 style="padding-top: 20px;">{{ pedido.entregador }}</h5>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div style="padding-top: 20px;">
                            <h5 style="color:#94395b;">Estado do pedido:</h5>
                            <h5 style="padding-top: 20px;">O nosso colaborador encontra-se a entregar o seu pedido porfavor não saia da sua localização obrigado.</h5>
                            <h6 style="padding-top: 20px;">Estamos a contar que se encontre na mesa {{mesa}}</h6>
                        </div>
                    </div>
                </div>
                {% else %}
                <div>
                    <h5>Aguarde o seu pedido está a ser concebido</h5>
                    <img src="{% static 'images/waiting.gif'  %}" alt="" srcset="">
                </div>
                {% endif %}
                {% else %}
                <h4>Sem pedido</h4>
            {% endif %}
            </div>         
        </div>       
        <div class="box-element hidden" id="payment-info">
            <h4 class="corPrincipal" style="padding-top: 13px;">Escolher Método</h4>
            <hr>
        
            <div id="paypal-button-container" >
             
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <h4 style="padding-top: 12px; color:#94395b;" >Ação a realizar</h4>

            <hr>
           
            <br>
            {% if items %}
            {% for item in items %}
                <div class="cart-row">
                    <div style="flex:1"><img class="row-image-checkout" src="{% static item.item.imagem.url %}"></div>
                    <div style="flex:1"><p>{{ item.item.nome }}</p></div>
                    <div style="flex:1"><p>{{ item.item.preco }}</p></div>
                    <div style="flex:1"><p>x{{ item.quantidade }}</p></div>
                    <div style="flex:1"><p>{{ item.item.restaurante }}</p></div>
                </div>
                {% endfor %}
                <h5>Items: {{ pedido.get_numero_items }}</h5>
                <h5>Total: {{ pedido.get_total|floatformat:2 }}</h5>
            {% else %}
            <h4>Sem items</h4>
            {% endif %}
        </div>
    </div>
</div>
 
</div>
{% include 'footer.html' %}
</body>
</html>