<footer class="footerBackground text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
       
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/ivo-nunes-30ab1213a/" target="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/inunes1904/" target="_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: var(--color-primary)">
      © 2023 Copyright:
      <a class="text-white" href="https://ivo-nunes.com/">Ivo-Nunes.com</a>
    </div>
    <!-- Copyright -->
  </footer>