{% load static %}
<!DOCTYPE html>
<html><head>
	<title>Mall Safe Meals</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&amp;display=swap" rel="stylesheet">

</head>
<body> 
	
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert--info" style="width:650px;">
			
		   <button class="alert__close">{{message}} <b class="alert-close-i">&Cross;</b></button>
		</div>
		{% endfor %}
 	{%endif%}
		
	<img class="logo" src="{% static 'images/mall_safe_meal.png' %}" alt="">
	<div class="main">  	
		
		<input type="checkbox" id="chk" aria-hidden="true">
		
			<div class="signup">
				
				<form name="form" method="post" action="{% url 'login_or_register' %}">
					{% csrf_token %}
					<label style="color: #94395b;" for="chk" aria-hidden="true">Criar Conta</label>
					<input type="text" name="username" placeholder="Nome de Utilizador" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<input type="password" name="pswd2" placeholder="Confirmar Password" required="">
					<button type="submit">Registar</button>
				</form>
			</div>

			<div class="login">
				<form name="form" method="post" action="{% url 'login_or_register' %}">
					{% csrf_token %}
					<label for="chk" style="color: #94395b;" aria-hidden="true">Entrar</label>
					<input type="text" name="username" placeholder="Utilizador" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<div class="text-center">
						<a style="padding-left: 62px; color: #94395b;" href="{% url 'reset_password' %}">Esqueceste-te da tua password?</a>
					</div>
					
					<button type="submit">Entrar</button>
				</form>
			
			</div>
	</div>
	<script src="{% static 'js/uikit.js' %}"></script>
</body>
</html>