
{% include 'header.html' %}
 <!-- RESTAURANTS CATEGORIES -->
<div class="container my-4 tryOut" style="align-items: center;">
  <h2 class="titleFeatureCategoria text-center" style="padding-top: 20px;">Nome Restaurante</h2>
  <h4 class="text-center text-secondary">Bem vindo..</h4>
  <h5 class="text-center"><small>Escolha os seu items:</small></h5>

<div class="text-center my-5">
  <ul class="nav nav-pills d-inline-flex justify-content-center  border-bottom mb-5 ">
    <li class="nav-item "><a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-1">
      <i class="fa fa-coffee fa-3x corPrincipal"></i>
      <div class="ps-3"><small class="text-body">Popular</small>
        <h6 class="mt-n1 mb-0 corPrincipal">Bebidas</h6>
      </div>
      </a>
    </li>
    <li class="nav-item"><a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
      <i class="fa fa-hamburger fa-3x  corPrincipal"></i>
      <div class="ps-3"><small class="text-body">Especial</small>
        <h6 class="mt-n1 mb-0 corPrincipal">Comida</h6>
      </div>
      </a>
    </li>
    <li class="nav-item"><a class="d-flex align-items-center text-start mx-3 me-0 pb-3 active" data-bs-toggle="pill" href="#tab-3">
      <i class="fa fa-utensils fa-3x corPrincipal"></i>
      <div class="ps-3"><small class="text-body">Lovely</small>
        <h6 class="mt-n1 mb-0 corPrincipal">Deserts</h6>
      </div>
      </a>
    </li>
  </ul>
</div>

  <div id="tab-1 " class="tab-pane fade show p-0 active my-5">
    <div class="row g-4">
      {% for item in items %}
      <div class="col-lg-6">
        <div class="d-flex align-items-center"><img class="flex-shrink-0 img-fluid rounded" src="{{item.imagem}}" alt="website template image" style="width:80px;">
          <div class="w-100 d-flex flex-column text-start ps-4 ">
            <h5 class="d-flex justify-content-between border-bottom ">
              <span>{{item.nome}}</span> <span class="text-secondary">€ {{item.preco}}</span>
            </h5>
            <h5>
               <button class="corPrincipal btnAdd"><i class="fa-solid fa-cart-plus"></i> carrinho</button>
            </h5>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
 
</div>
   

{% include 'footer.html' %}



</body>
</html>